@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martian+Mono:wght@300&family=Sriracha&display=swap');
 
:root { 
    --cor1: #785512; 
    --cor2: #FFD075; 
    --cor3: #FFB526; 
    --cor4: #7F6024; 
    --cor5: #CC911E; 
    --fonte1: Arial, helvetica, sans-serif; 
    --fonte2: 'Martian Mono', monospace;
} 
*{ 
    margin: 0px;  
} 
html > body{ 
    min-height: 100vh;
}  
header{ 
    background-image: url(../imagens/savana_leao.jpg); 
    background-position: center bottom; 
    background-size: cover;
    padding: 200px; 
    text-align: center; 
    color: black;
} 
header > h1{ 
    padding-bottom: 100px; 
    font-family: var(--fonte2);
} 
main{ 
    text-align: justify; 
    
} 
section{ 
    padding-bottom: 150px; 
    padding-top: 150px;
}
section > p{ 
    text-align: justify; 
    padding:10px;
    margin-right: 750px; 
    margin-left: 30px; 
    font-size: 1.5em; 
    font-weight: bolder; 
    min-width: 300px; 
    max-width: 800px;

} 
.normal{ 
    background-color: var(--cor2); 
}  
.normal > p{ 
    margin:5vw 17vw 5vw 17vw;
    padding: 0px;
}  
.normal > h2{ 
    margin: 25px 200px 25px 200px;
}
.imagem{ 
    background-attachment: fixed; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    
} 
.imagem > p { 
    background-color: #ffd17588;
}
#img01{ 
    background-image: url(../imagens/leaoimg01.jpg); 
    background-position: center right; 
    background-size: cover;
} 
#img02{ 
    background-image: url(../imagens/img02.jpg); 
    background-position: bottom right; 
    background-size: cover;
} 
#img02 > h2{ 
    padding: 21px 176px 16px 151px; 
}
ul{ 
    margin-left: 200px; 
    font-size: 1.5em; 
} 
li{ 
    padding: 1vw;
}
h2{ 
    text-align: center; 
    padding-bottom: 26px;
    margin-right: 790px; 
    margin-left: 5px; 
    font-size: 2.5em; 
    font-family: var(--fonte2); 
    min-width: 300px; 
    max-width: 800px;
} 
a{ 
    text-decoration: underline;  
    color: black;
} 
footer{ 
    background-color: var(--cor4); 
    padding: 24px 300px 21px 300px; 
    text-align: center    
}
footer > p{ 
    font-size: 1.5em; 
    font-weight: bolder;
}
