@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martian+Mono:wght@300&family=Sriracha&display=swap');
 
:root { 
    --cor1: #785512; 
    --cor2: #FFD075; 
    --cor3: #FFB526; 
    --cor4: #7F6024; 
    --cor5: #CC911E; 
    --fonte1: Arial, helvetica, sans-serif; 
    --fonte2: 'Martian Mono', monospace;
} 
*{ 
    margin: 0px;  
}  
header{ 
    background-image: url(../imagens/savana_leao.jpg); 
    background-position: center bottom; 
    background-size: cover;
    padding: 200px; 
    text-align: center; 
    color: black;
} 
header > h1{ 
    padding-bottom: 100px; 
    font-family: var(--fonte2);
} 
main{ 
    text-align: justify; 
} 
section{ 
    padding-bottom: 150px; 
    padding-top: 150px;
}
section > p{ 
    text-align: justify; 
    padding: 5px 75px 5px 0px; 
    margin-right: 750px; 
    margin-left: 30px; 
    font-size: 1.5em; 
    font-weight: bolder;

} 
.normal{ 
    background-color: var(--cor2);
} 
.imagem{ 
    
}
#img01{ 
    background-image: url(../imagens/leaoimg01.jpg); 
    background-position: center right; 
    background-size: cover;
} 
#img02{ 
    background-image: url(../imagens/img02.jpg); 
    background-position: bottom right; 
    background-size: cover;
}
ul{ 
    margin-left: 200px; 
    font-size: 1.5em; 
} 
li{ 
    padding: 1vw;
}
h2{ 
    text-align: center; 
    padding-bottom: 100px;
    margin-right: 790px; 
    margin-left: 5px; 
    font-size: 2.5em;
} 
a{ 
    text-decoration: none;  
    color: white;
}
 
